<style type="text/css">
  .token {
    margin: auto;
    width: 16em;
    background-color: rgba(230, 208, 137, 0.49);
    border-color: #d1d1d1;
    border-radius: 0.2em;
    padding: 2em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
  }
</style>


<p><%= t('.body.hello', NAME: @user.profile.full_name) %> </p>

<p><%= _t('.body.intro',
          {
              GENDER: Setting.find_by(name: 'name_genre').value,
              FABLAB: Setting.find_by(name: 'fablab_name').value
          })
       # messageFormat
%> <%= link_to "reset", "#{root_url}#!/?reset_password_token=#{@user.reset_password_token}"  %>.
</p>

<% active_provider = AuthProvider.active %>





  <p>
    <%= t('.body.valid for') %>
  </p>
<p><%= t('.body.not request') %></p>
